/**
 * Colours
 */
.white {
    background-color: #fff;
}
.bold-yellow {
    background-color: #ffad00;
}
.bright-yellow {
    background-color: #f0d106;
}
.pale-yellow {
    background-color: #fff021;
}
.bold-orange {
    background-color: #eb7905;
}
.pale-orange {
    background-color: #ffc04e;
}
.red {
    background-color: #e96762;
}
.pastel-pink {
    background-color: #e099c1;
}
.pale-pink {
    background-color: #ffcde5;
}
.pastel-purple {
    background-color: #7d6f94;
}
.blue-grey {
    background-color: #6f879c;
}
.bright-green {
    background-color: #5ec233;
}
.pastel-green {
    background-color: #72b889;
}
.pale-green {
    background-color: #73ebaf;
}
.bright-blue {
    background-color: #72b2fe;
}
.pale-grey {
    background-color: #a6a6a7;
}
.pale-brown {
    background-color: #918e6e;
}

/**
 * Category colours
 */
.background-location {
    background-color: #f3c940;
}
.background-use {
    background-color: #f0f048;
}
.background-type {
    background-color: #72afe0;
}
.background-age {
    background-color: #ff5f64;
}
.background-size {
    background-color: #f4a0b9;
}
.background-construction {
    background-color: #f77e2a;
}
.background-streetscape {
    background-color: #4ac491;
}
.background-team {
    background-color: #aaaaaa;
}
.background-planning {
    background-color: #ae8daf;
}
.background-sustainability {
    background-color: #6fc348;
}
.background-dynamics {
    background-color: #728798;
}
.background-community {
    background-color: #a19271;
}
